<form #form="ngForm" (ngSubmit)="onSubmit(form.form)">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input ngControl="firstName"
         #firstName="ngForm" id="firstName"
          type="text"
          class="form-control"
          minlength="3"
          required>
          <div *ngIf="firstName.touched && firstName.errors">
              {{firstName.errors | json}}
            <div
                *ngIf="firstName.errors.required"
                class="alert alert-danger">
                First name is required
            </div>
            <div
                class="alert alert-danger"
                *ngIf="firstName.errors.minlength">
                First name should be at least {{firstName.errors.minlength.requiredLength}} characters long
            </div>
         </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea #comment="ngForm"
         ngControl="comment"
         id="comment"
         cols="30"
         rows="10"
          class="form-control"
          required>
        </textarea>
        <div 
        *ngIf="comment.touched && !comment.valid"
         class="alert alert-danger">Comment is required</div>
        </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
        Submit
    </button>   
</form>