<form #form="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
         ngControl="name"
         #name="ngForm" 
         id="name"
         class="form-control"
         minlength="3"
         required>
    </div>
    <div *ngIf="name.touched && name.errors">
        <div class="alert alert-danger" *ngIf="name.errors.required">
            Name is required</div>
        <div class="alert alert-danger" *ngIf="name.errors.minlength">
            Name should be at least {{name.errors.minlength.requiredLength}} characters long
        </div>
    </div>

     <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
         class="form-control"
         ngControl="email"
         #email="ngForm"
         id="email" 
         minlength="3"
         required>
    </div>
    <!--<div *ngIf="!form.controls['userName'].valid"-->
    <div *ngIf="email.touched && email.errors">
        <div class="alert alert-danger" *ngIf="email.errors.required">Email is required</div>
        <div class="alert alert-danger" *ngIf="email.errors.minlength"> 
            Email should be at least {{email.errors.minlength.requiredLength}} characters long</div>
    </div>
    <select class="form-control" ngControl="select" #select="ngForm" (change)="callType(select)" required>
        <option value="daily">Daily</option>
        <option value="monthly">Monthly</option>
        <option value="weekly">Weekly</option>
    </select>
    <div class="alert alert-danger" *ngIf="select.touched">
        <div *ngIf="!select.valid">
            Hello
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
        Submit
    </button>   
</form>
